<!DOCTYPE html>
<html lang="es">
	<HEAD>
		<title>
			Jose Carlos Aguilar Villalva
		</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	</HEAD>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">Jose Carlos</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="avatar.jpg" alt="Avatar de Jose Carlos" class="Header-image" />
				<figcaption class="Header-imageDescription">
				<a class="Header-link" href="https://twitter.com/JCAgVil" target="_blank">@JCAgVil</a>
				</figcaption>
				<p class="Header-name">Jose Carlos Aguilar Villalva</p>
			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title">Mi Perfil</h2>
			<p class="Profile-description">
				Esta es una breve descripcion mia.
			</p>
			<a class="Profile-link" href"=https://twitter.com/JCAgVil" target="_blank">@JCAgVil</a>
			<a class="Profile-link" href"=https://www.facebook.com/JCarlos.AV" target="_blank">ISC J Carlos Aguilar</a>
			<a class="Profile-link" href"=https://www.facebook.com/JCarlos.AV" target="_blank">@JCarlosAgVil</a>
		</section>
		<section id="trabajo" class="Work">
		<h2 class="Work-title">Mi Trabajo</h2>
			<article class="Work-title">
				<figure class="Work-imageCont">
					<img class="Work-image" src="mejorandola.jpg" alt="Es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-title">
				<figure class="Work-imageCont">
					<img class="Work-image" src="mejorandola.jpg" alt="Es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-title">
				<figure class="Work-imageCont">
					<img class="Work-image" src="mejorandola.jpg" alt="Es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
			<form class="Footer-form">
				<input type="text" placeholder="Nombre" class="Footer-formInput" />
				<input type="email" placeholder="Email" class="Footer-formInput" />
				<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
				<button class="Footer-button" type="submit">Contactarme</button>
			</form>
		</footer>
	</body>
</html>