<!DOCTYPE html>
<html lang="es">
	<HEAD>
		<title>
			Jose Carlos Aguilar Villalva
		</title>
		<meta charset="UTF-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	</HEAD>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">Jose Carlos</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="../static/img/avatar.png" alt="Avatar de Jose Carlos" class="Header-image" />
				<figcaption class="Header-imageDescription">
				<a class="Header-link" href="https://twitter.com/JCAgVil" target="_blank">@JCAgVil</a>
				</figcaption>
				<p class="Header-name">Jose Carlos Aguilar Villalva</p>
			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title u-title">Mi Perfil</h2>
			<p class="Profile-description">
				Como ingeniero en sistemas computacionales soy un profesionista con visión innovadora que se anticipa a los cambios tecnológicos para crear y proveer soluciones de software e infraestructura computacional en la nueva y dinámica sociedad de la era digital. Conozco las competencias necesarias para satisfacer los requerimientos tecnológicos de las organizaciones y las personas utilizando la computación como principal herramienta. Cuento con bases sólidas en ingeniería, ciencias computacionales, desarrollo de software, sistemas de información, redes, infraestructura computacional y administración de proyectos.
			</p>
			<a class="Profile-link" href="https://twitter.com/JCAgVil" target="_blank">Twitter<br/>@JCAgVil</a>
			<a class="Profile-link" href="https://www.facebook.com/JCarlos.AV" target="_blank">Facebook<br/>ISC J Carlos Aguilar</a>
			<a class="Profile-link" href="https://github.com/JCarlosAgVil" target="_blank">GitHub<br/>@JCarlosAgVil</a>
		</section>
		<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">Mi Trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/chicdress.png" alt="Imagen referente a chicdress.com">
					<figcaption class="Work-description">Website de Chicdress.com.mx</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/chicasdress.png" alt="Imagen referente a chicasdress.com">
					<figcaption class="Work-description">Website de Chicasdress.com</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/villacafe.png" alt="logotipo de villacafe">
					<figcaption class="Work-description">Barra de Cafe VillaCafe</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/lavanderia.png" alt="logotipo de lavanderia rosita">
					<figcaption class="Work-description">Lavanderia Local Rosita</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/ciberplay.png" alt="logotipo de ciberplay">
					<figcaption class="Work-description">Ciber y Videojuegos CiberPlay</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/ciberconexion.png" alt="logotipo de ciberconexion">
					<figcaption class="Work-description">Ciber y Videojuegos CiberConexion</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<div class="Footer-left">
				<h3 class="Footer-title">Contacto</h3>
				<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
			</div>
			<form class="Footer-form">
				<input type="text" placeholder="Nombre" class="Footer-formInput" />
				<input type="email" placeholder="Email" class="Footer-formInput" />
				<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
				<button class="Footer-button" type="submit">Contactarme</button>
			</form>
		</footer>
	</body>
</html>